version: '3.8'

services:
  stalwart-mail:
    image: stalwartlabs/mail-server:latest
    container_name: stalwart-mail
    environment:
      - RUST_LOG=info
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "993:993"
      - "4190:4190"
      - "18081:8080"
    volumes:
      - rncmail_data:/opt/stalwart-mail/data
      - rncmail_etc:/opt/stalwart-mail/etc
    networks:
      - RenaceNet
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          cpus: '0.2'
          memory: 256M

  roundcube:
    image: roundcube/roundcubemail:latest
    container_name: roundcube
    ports:
      - "18080:80"
    environment:
      - ROUNDCUBEMAIL_DEFAULT_HOST=stalwart-mail
      - ROUNDCUBEMAIL_SMTP_SERVER=stalwart-mail
      - ROUNDCUBEMAIL_SKIN=elastic
      - ROUNDCUBEMAIL_PRODUCT_NAME=Renace
      - ROUNDCUBEMAIL_PAGE_TITLE=Renace
    volumes:
      - ./logo.svg:/var/www/html/skins/elastic/images/logo.svg
      - ./logo.svg:/var/www/html/skins/elastic/images/favicon.ico
    networks:
      - RenaceNet
    depends_on:
      - stalwart-mail
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 128M

networks:
  RenaceNet:
    external: true

volumes:
  rncmail_data:
  rncmail_etc:



